body {
  padding: 10px;
  font-family: 'Antonio', sans-serif;
  color: white;
  background-color: #333;
}

h1{
  color: red;
}

h3{
  color: #888;
}

button{
  background: #555;
  border-radius: 1rem;
  padding: 1rem;  
  color: white;
  margin: 1rem;
  width: 20vw;

}

input{

  border-radius: 1rem;
  padding: 1rem;
  background: grey;
}

::placeholder {
  color: black;
}

.box-serie{
  
  margin: 0.5rem;

  
}

.box-serie img{
  display: block;
  border-radius: 5px;
  box-shadow: 0 0 10px #111;
  cursor: pointer;

}

.box-serie img:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition-timing-function: ease-out;
  transition: 0.25s;
}



.box-serie span{
  display: block;
  text-align: center;
  opacity: 0.5;
}

.series{
  display: flex;
  flex-wrap: wrap
}


#dosis{
  font-size: 3rem;
  text-align: center;
  margin: 2rem;
}

img{
  width: 90vw;
}